<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D'oh!</title>
  </head>
  <body>
    <main>
      <h1>¯\_(ツ)_/¯</h1>
      <p>What can you do? These things happen.</p>
      <pre>
        <code>
          {{error.inspect}}
        </code>
      </pre>
    </main>
  </body>
</html>