<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D'oh!</title>
  </head>
  <body>
    <main>
      <h1>File read error</h1>
      <p>Attempting to read or write the following file failed because the file (or possibly the directory) doesn't exist:</p>
      <pre>
        <code>
          {{error.raw.path}}
        </code>
      </pre>
      <p>The complete error follows:</p>
      <pre>
        <code>
          {{error.inspect}}
        </code>
      </pre>
    </main>
  </body>
</html>